<md-content class="login-content">
  <div class="login-container" layout="column">
    <md-input-container flex>
      <input required mdInput placeholder="Usuario" autofocus=true type="text" ng-model="ctrl.username" />
    </md-input-container>
    <md-input-container flex>
      <input required mdInput placeholder="Contrasena" type="password" ng-model="ctrl.password" />
    </md-input-container>
    <md-input-container>
      <md-button md-no-ink class="md-primary" ng-click="ctrl.login()" flex>Iniciar Sesión</md-button>
    </md-input-container>
  </div>
</md-content>