<div layout="row" class="container">
  <md-sidenav class="home-sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex-gt-md="15" flex-md="20" >
    <md-content class="home-sidenav">
      <md-list class="sidenav-menu">
        <md-list-item> <a ng-click="homeCtrl.toggleUsersList();" ui-sref="home.clubes" ui-sref-active="active" >Clubes</a> </md-list-item>
        <md-list-item> <a ng-click="homeCtrl.toggleUsersList();" ui-sref="home.suscribers" ui-sref-active="active">Suscriptores</a> </md-list-item>
      </md-list>
      <a ui-sref="login">
      <md-button md-no-ink class="md-primary button-logout" ng-click="homeCtrl.toggleUsersList();homeCtrl.logout();" flex>Cerrar Sesión</md-button>
      </a>
    </md-content>
  </md-sidenav>
  <md-content flex id="content" class="md-whiteframe-6dp home-content">
    <div ui-view flex></div>
  </md-content>
</div>