<md-content layout='column'>
  <header>
    <h2>{{suscriptor.name}}</h2>
    <p>{{suscriptor.username}}</p>
    <p>{{suscriptor.email}}</p>
    <p>{{suscriptor.website}}</p>
    <p>{{suscriptor.phone}}</p>
  </header>
  <section>
    <h2>{{suscriptor.company.name}}</h2>
    <p>{{suscriptor.company.catchPhrase}}</p>
    <p>{{suscriptor.company.bs}}</p>
  </section>
  <address>
    <h2>Dirección</h2> 
    <br> {{suscriptor.address.street}}
    <br> {{suscriptor.address.suite}}
    <br> {{suscriptor.address.city}}
    <br> {{suscriptor.address.zipcode}}
    <br>
  </address>
</md-content>